go 1.23.0

toolchain go1.23.5

use (
	./client/buffer
	./client/gorm
	./client/kafka
	./client/localcache
	./client/redis
	./client/sqlx
	./codec
	./config
	./config/etcd
	./errs
	./log
	./metrics
	./naming/mysql
	./plugin
	./recovery
)
